<br />
<a href="#/admin/register" id="register-link-btn">Register Admin</a>
<a href="#/users" id="get-users-btn">Get All Users</a>
<a href="#/monsters" id="get-monsters-btn">Get All Monsters</a>
<a href="#/items" id="get-items.btn">Get All Items</a>
<a href="#" id="logout-btn" ng-click="logoutAdmin()">Logout</a>

<br />
<br />
<a href="#/monster/create">Create new monster</a>
<ul id="monsters-list">
    <li ng-repeat="mon in monsters">
        <a href="#/monster/{{mon.id}}">{{mon.name}}</a>
    </li>
</ul>
