<div id="item">
    <h3 data-bind="text: name"></h3>
    <p>category: <span data-bind="text: itemCategory"></span></p>
    <img data-bind="attr: { src: imageUrl }" />
    <p>description: <span data-bind="text: description"></span></p>
    <p>meleAttack: <span data-bind="text: meleAttack"></span></p>
    <p>magicAttack: <span data-bind="text: magicAttack"></span></p>
    <p>meleDefense: <span data-bind="text: meleDefense"></span></p>
    <p>magicDefense: <span data-bind="text: magicDefense"></span></p>
</div>